//@import "variables";
@import "responsive.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
html {
  font-size: 10px;

  @media screen and (max-width: 2200px) {
    font-size: 12px;
  }

  @include respond(desktop) {
    font-size: 9px;
  }
  @include respond(tab-land) {
    font-size: 9px;
  }
  @include respond(tab-port) {
    font-size: 8px;
  }
  @include respond(phone) {
    font-size: 7px;
  }
}

body {
  background-color: #7775a5;
  color: #7678fb;
  padding: 5rem;
  overflow-x: hidden;
  position: relative;
  font-family: Open Sans, "Lucida Grande", Tahoma, Sans-Serif;

  @include respond(phone) {
    padding: 10px;
  }
}
a {
  text-decoration: none !important;
}

html,
body {
  -webkit-transition: scrollTo 3s ease;
  -o-transition: scrollTo 3s ease;
  transition: scrollTo 3s ease;
  width: 100%;
  height: 100%;
}

.loader:empty {
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #7678fb;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader__small:empty {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #7678fb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@media screen and (max-width: 400px) {
  .xxs {
    width: 100% !important;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0f26;
  border-radius: 1rem;
}
