.main__sidebar {
  background: #0c0f26;
  display: flex;
  width: 20%;
  float: left;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.main {
  height: auto;
  background: #0c0f26;
}
.main__video__container {
  background: #171934;
  height: 100%;
  width: auto;
  padding: 3rem 3rem 15rem 3rem;
  display: flex;
  position: relative;
}

a.sidebar__link {
  display: block;
  padding: 2rem;
  background: #0c0f26;
  width: 100%;

  &:hover {
    background: #0f0f29;
  }
}

.game__card {
  height: 40rem;
  margin: 1rem;
  width: 90%;
}

.game__card__top {
  height: 80%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.game__card__bottom {
  height: 20%;
  color: white;
  max-width: 100%;
  padding: 1rem;
  overflow: hidden;

  em {
    font-weight: 700;
  }
  p {
    font-weight: 700;
    color: #737783;
    line-height: 2.5;
    font-size: 1.7rem;
  }

  i {
    margin-right: 5px;
  }
}

.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
