.movie__bg {
  height: 100vh;
  background-image: url('../test.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  svg {
    width: 2rem;
  }

  .movie__poster {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#7775a5),
      to(#3c3b66)
    );
    max-width: 80rem;
    min-height: 100%;
    margin: 0 auto;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .movie__poster__hero {
      img {
        height: 65vh;
        width: 100%;
      }
    }
    .movie__poster__title {
      svg {
        fill: #242126;
        width: 1.5rem;
      }
      .num-rating {
        color: yellow;
        margin-left: 5px;
      }
      h1 {
        color: white;
        text-transform: uppercase;
      }
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      padding: 2rem;

      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: self-end;
      -webkit-align-items: self-end;
      -moz-box-align: self-end;
      -ms-flex-align: self-end;
      align-items: self-end;
    }

    .movie__poster__body {
      padding: 2rem;
      .movie__poster__body__top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .movie__poster__body__btn__group {
          a {
            background: yellow;
            padding: 1rem;
            margin-left: 1rem;
            display: inline-block;
          }
        }
      }
      .movie__poster__body__bottom {
        margin-top: 2rem;
      }
    }
  }
}
